body{
  width: 100%;
  height: 100%;
  background-color: rgb(16, 25, 21) !important;
}
div.frame{
  display: block;
  clear: both;
  float: none;
  height: 950px;
  width:  1900px;
  color: #fff;
}

div.frame div.center,
div.frame div.left,
div.frame div.right{
 float: left;
 clear: none;
 height: 100%;
}

div.frame div.left,
div.frame div.right{
 width: 25%;
}

div.frame div.center{
 float: left;
 clear: none;
 width: 50%;
}

div.center div.map{
 height: 60%;
 margin: 0 5px;
 background-color: #112e29;
 border: 1px solid #1efec8;
}
div.center div.infoBox{
 height: 40%;
}

div.infoBox div.infoLeft,
div.infoBox div.infoRight{
 float: left;
 clear: none;
 height: 98%;
 width: 48%;
 background-color: #112e29;
 border: 1px solid #1efec8;
 margin: 5px;
}
div.infoBox div.infoRight{
 background-color: #112e29;
 border: 1px solid #1efec8;
}

div.right div.rightUp{
 height: 35%;
 background-color: #112e29;
 /* border: 1px solid #1efec8; */
}

div.right div.rightDown{
 height: 65%;
 background-color: #0f3830;
 margin: 0 10px;
}

div.right {
  border: 1px solid #1efec8;
  background-color: #112e29;
}

div.left div.leftUp,
div.left div.leftDown{
 height: 50%;
 background-color: #112e29;
}

div.left div.leftDown{
 height: 50%;
 background-color: #19403b;
 border: 1px solid #1efec8;
}

b.mainClock{
 display: block;
 float: right;
}

/* div rightUP styles start here */
div.rightUp #main-screen{
  width: 470px !important;
  height: 280px !important;
}
div.rightUp .button-group{
  margin-top: 5px;
}
div.rightUp .video-helper-container{
  text-align: center;
  padding-top: 5px;
}
.padding-top-60px{
  padding-top: 60px
}
.alert-border{
  border: 2px solid red !important;
}
.warnning-border{
  border: 2px solid yellow !important;
}
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* div rightUP styles end here */

/* div leftDown styles start here */
div.leftDown #player0, #player1, #player2, #player3, #player4, #player5, #player6, #player7, #player8{
  width: 150px !important;
  height: 140px !important;
}
div.leftDown div.video-container {
  padding:0px !important;
}
div.leftDown div.video-panel {
  background-color: #ceeff5
}
.title-btn {
  background-color: #0b473f;
  border: 1px solid #1efec8;
  color: #fff;
}
.send2main-btn {
  display: none;
}
/* div leftDown styles end here */

/* div rightDown styles start here */
div.rightDown{
  position: relative;
  padding-top:3px;
  overflow:auto;
  
}
div.policeList,div.lc-policeOnline,div.lc-group1,div.lc-group2,div.lc-unGroup,div.lc-groupArea{
  margin-bottom: 8px;
}
p.policeList,button.lc-policeOnline,button.lc-group1,button.lc-group2,button.lc-unGroup,button.lc-groupclick{
  background-color: #0b473f;
  border:1px solid #1efec8;
  color:#fff;
  width:46%;
  margin-bottom: 0%;
  /* position: relative; */
}
div.Friend{
  height:auto;
}
p.policeList{
  width:30%;
  margin: 7% 30% 5% 36% !important;
  /* margin-bottom: 20px; */
  padding:0% 0% 0% 7%;
  /* position: relative; */
  left:20%;
  top:20%
}
div.forclick,div.groupMerber.forclick{
  padding:5px 15px;
  border:1px solid rgb(30, 254, 200);
  background-color: rgb(11, 71, 63);
  width: 25%;
  height:5%;
  margin:5px 0px 0px;
}
/* popupchatpage */
div#lc-chatPage{
  position: absolute;
  bottom: 21%;
  right:4%;
  background-color:#4e595A;
  width:361.5px;
  height:353.53px;
  padding:1% 1% 1% 0.5%;
  z-index: -2;
  opacity:0.8;
  border:1px solid #1efec8
}
div#lc-chatPage div#lc-policeName,div#lc-chatPage div#lc-editBox,div#lc-chatPage div#lc-operateButton,div#lc-chatPage div#lc-chatBox{
  margin-top:0;
  margin-bottom: 10px;
}
div#lc-chatPage div#lc-chatBox{
  background-color: #fff;
  width:340px;
  height:200px;
  overflow:auto;
}
div#lc-chatPage div#lc-policeName{
  background-color:#112e29;
  width:25%;
  border:1px solid #1efec8;
  margin-left:33%;
  margin-bottom: 20px;
  color: white
  /* height:60%; */
}
div#lc-chatPage div#lc-editBox{
  background-color:#0b473f;
  width:65%;
  height:9%;
  margin-left: 30px;
}
div#lc-operateButton{
  margin-left: 37px;
}
div#lc-editBox i#phoneaudio{
  background-color: #1efec8;
  position: relative;
    left:2px;
  width:24px;
  height:20px;
}
button#lc-sendMsg,button#lc-seacher,button#lc-close-chatPage{
  width:47px;
  height:27px;
  background: #0b473f;
  border: 1px solid #1efec8;
  margin-left:28px; 
}


/* div rightDown styles end here */